---
  language: php
  php:
    - '5.6'
    - '7.0'
  before_script:
    - composer install
    - composer dump-autoload -o
  script: phpunit
  after_success:
    - bash <(curl -s https://codecov.io/bash)